[submodule "bridges/googletest/googletest"]
	path = bridges/googletest/googletest
	url = https://github.com/google/googletest.git
[submodule "bridges/config_yaml/yaml-cpp"]
	path = bridges/config_yaml/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "bridges/rbdl/rbdl"]
	path = bridges/rbdl/rbdl
	url = https://github.com/bip-team/rbdl.git
[submodule "bridges/QuadProgpp/QuadProgpp"]
	path = bridges/QuadProgpp/QuadProgpp
	url = https://github.com/asherikov/QuadProgpp.git
